<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587981175796-7d42pik8bgnsv7spi0t5m0jb29coju8i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587981175796-7d42pik8bgnsv7spi0t5m0jb29coju8i</string>
	<key>API_KEY</key>
	<string>AIzaSyCT4yCwOhCS7Md0Vcx4yLt5oVweFUqd-dw</string>
	<key>GCM_SENDER_ID</key>
	<string>587981175796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.weather</string>
	<key>PROJECT_ID</key>
	<string>weather-f9910</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-f9910.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587981175796:ios:a966f04a09626e21fb57a1</string>
	<key>DATABASE_URL</key>
	<string>https://weather-f9910.firebaseio.com</string>
</dict>
</plist>